/*some order of files (with index.html) is over-riding the "background color=yellow"
command....moved many blocks around trying to learn the language, ordering
may be incorrect/un-traditional..always alphabetize..*/

body {
 font-size: 14px;
}

nav {
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

h1, h2, h3 {
  font-family: sans-serif;
  font-size: 1.3em;
}
.example, section {
  margin: 0 auto;
  width: 100%;
  padding-top: 30px;
  text-align: center;
}

.element, h2 {
  background-color: green;
  font size: 1.3em;
  height: 100px;
  margin: 10px, 0;
  width: 100%;
}

.element, h3 {
  background-color: blue;
  font size: 1.3em;
  height: 100px;
  margin: 10px, 0;
  width: 100%;
}
